name: Bulk Delete Workflow Runs
on:
  workflow_dispatch: 
  schedule:
    - cron: '0 */2 * * *'

permissions:
  actions: write

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 0           
          keep_minimum_runs: 0     
          delete_workflow_pattern: "update.yml" 