name: Update README cards

on:
  schedule:
    - cron: "0 0 * * *" # Runs once daily at midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Generate stats card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: username=JSTks24&show_icons=true&count_private=true&include_all_commits=true&line_height=20&title_color=7A7ADB&icon_color=2234AE&text_color=D3D3D3&bg_color=0,000000,130F40
          path: profile_svg/stats.svg
          token: ${{ secrets.Private_Repo_Status }}

      - name: Generate top languages card
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: top-langs
          options: username=JSTks24&layout=compact&langs_count=6&count_private=true&include_all_commits=true&text_color=daf7dc&bg_color=151515
          path: profile_svg/top-langs.svg
          token: ${{ secrets.Private_Repo_Status }}

      - name: Push to badges branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: useless
          build_dir: profile_svg
          keep_history: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}